.work {
    padding: 100px 0 50px 0;
    text-align: center;
    color: #22333b;

    &__pill {
        background-image: linear-gradient(90deg, rgba(13,93,145,1) 8%, rgba(35,169,197,1) 100%);
        width: 250px;
        height: 10px;
        border-radius: 10px;
        margin: 25px auto 50px auto;
    }

    &__header {
        font-family: Gilroy-ExtraBold;
    }
    &__img {
        max-width: 700px;
        &-wrapper {
            text-align: center;
        }
    }
    &__description {
        font-family: Gilroy-Light;
        text-align: center;
        max-width: 80vw;
        margin: 0 auto;
        padding: 80px 0;
        font-size: 1.8rem;
    }

    &-sub {
        background: #EEE;
        padding: 100px 0 70px 0;

        &__main {
            max-width: 50vw;
            margin: 0 auto;
            text-align: center;
            font-family: Gilroy-ExtraBold;
            font-size: 1.5rem;
        }
    }
}
