.what-i-do {
    padding: 100px 0;
    background: #FFF;
    text-align: center;
    max-width: 70rem;
    margin: 0 auto;
    font-family: Gilroy-Light;
    
    &__main {
       font-size: 1.8rem;
    }
}