.about-header {
    &__title {
        font-family: Gilroy-ExtraBold;
        text-align: center;
        color: #fff;
        
        padding-top: 160px;
        padding-bottom: 80px;
        font-size: 80px;
        @media (max-width: 768px) {
            font-size: 50px;
        }
    }
}