.header {
    &__nav {
        background: transparent;
        height: 80px;

        &-brand {
            font-family: Horizon-Regular !important;
            font-size: 100px;
            color: #FFF !important;
            font-weight: 300;
            margin-left: 50px;
            margin-top: 25px;
            transition: all 1s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__main {
        min-height: 550px;
        margin-top: -120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #EEE;

        @media (max-width: 768px) {
            min-height: 450px;
        }

        &__title {
            padding-top: 100px;
            max-width: 700px;
            margin: 0 auto;
            font-family: Gilroy-ExtraBold;

            &-text {
                @media (max-width: 768px) {
                    font-size: 1.75rem;
                    padding-top: 40px;
                }
            }
        }

        &__sub-title {
            font-family: Gilroy-Light;
            max-width: 600px;
            margin: 0 auto;
            font-size: 25px;

            @media (max-width: 768px) {
                font-size: 18px;
                padding: 10px;
            }
        }

        &__buttons {
            display: inline;
            text-align: center;
            &-button {
                font-family: Gilroy-ExtraBold;
                padding: 10px 20px;
                border-radius: 50px;
                border: none;
                margin-top: 25px;
                background: #FFF;
                margin: 10px;
                transition: all 1s;
                color: #22333B;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }

                @media (max-width: 768px) {
                    margin-top: 35px;
                }


                &-alt {
                    background: none;
                    border: 2px solid white;
                    color: #FFF;
                    padding: 10px 20px;
                    border-radius: 50px;
                    transition: all 1s;
                    outline: none;
                    margin: 20px 10px;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                    @media (max-width: 568px) {
                        display: none;
                    }

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
