@import '~bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.otf');
}

@font-face {
    font-family: Horizon-Regular;
    src: url('../fonts/Horizon-Regular.otf');
}
