.nav {
    background: transparent;
    height: 80px;

    &__brand {
        font-family: Horizon-Regular !important;
        font-size: 100px !important;
        color: #FFF !important;
        font-weight: 300;
        margin-left: 50px;
        margin-top: 25px;
        transition: all 1s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__button {
        font-family: Gilroy-ExtraBold;
        padding: 10px 20px;
        border-radius: 50px;
        border: none;
        margin-top: 25px;
        background: #FFF;
        margin: 10px;
        transition: all 1s;
        color: #22333B;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

@media (min-width: 567px) {
    .abs-center-x {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.nav-link {
    font-family: Gilroy-Light;
    color: #FFF !important;
    margin: 30px 15px;
    font-size: 20px;
    font-weight: bold;
}
