.what-can-i-do {
    padding: 150px 0;

    @media (max-width: 768px) {
        padding: 50px 0;
    }

    &__content {
        max-width: 60rem;
        margin: 0 auto;
    
        @media (max-width: 768px) {
          padding: 15px;
        }
    }

    &__recent-work {
        padding: 50px 0;
        font-family: Gilroy-Light;
        display: inline-block;
        &-description {
            width: 50%;
            float: right;
            &-header {
                font-family: Gilroy-ExtraBold; 
            }

            &-text {
                font-size: 18px;
            }

            &-link {
                line-height: 2rem;

                &:after {
                    content: 'https://websterfireprotection.co.uk';
                }
            
                @media (max-width: 768px) {
                    &:after {
                        content: 'Visit Here';
                    }
                }
            }
        }

        &-img {
            width: 50%;
            float: left;
            text-align: center;

            & > img {
                width: 70%;
                border-radius: 15px;
                box-shadow: -0.05556rem 0.05556rem 0.55556rem 0.16667rem #cccccc;
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }

    &__header {
        margin: 0 auto;
        text-align: center;
        
        font-family: Gilroy-ExtraBold;
        & > h1 {
            font-size: 40px;
            @media (max-width: 768px) {
                font-size: 24px;
            }
        }

        &-pill {
            background-image: linear-gradient( 171.8deg,  rgba(255,159,0,1) -6.3%, rgba(208,23,23,1) 86.7% );
            width: 350px;
            @media (max-width: 768px) {
                width: 50vw;
            }
            height: 10px;
            border-radius: 10px;
            margin: 1rem auto;
            max-width: 90vw;
        }

        &-description {
            padding-top: 40px;
            max-width: 800px;
            font-family: Gilroy-Light;
            font-size: 25px;
            text-align: center;
            margin: 0 auto;

            @media (max-width: 768px) {
                font-size: 1.2rem;
                margin: 0 8px;
            }
        }
    }
}