.case-studies {
    padding-bottom: 50px;
    background: #FFF;
    color: #22333B;

    &__main-header {
        & > h1 {
            font-family: Gilroy-ExtraBold;
            font-size: 3rem;
        }
    }
    
    &__header {
        text-align: center;
        font-family: Gilroy-ExtraBold;
        & > h1 {
            font-size: 60px;
        }

        &-pill {
            background-image: linear-gradient(109.6deg,  rgba(83,94,161,1) 44.5%, rgba(188,14,107,1) 100.2%);
            width: 150px;
            height: 10px;
            border-radius: 10px;

            @media (max-width: 768px) {
               margin: 0 auto;
             }
        }
    }

    &__info {

        & > div > h1 {
            font-family: Gilroy-ExtraBold;
        }
        
        font-family: Gilroy-Light;
        margin-top: 100px;
        text-align: left;

        &-img {
            text-align: center;
            margin: 0 auto;
            max-width: 100%;
            padding: 25px;

            @media (max-width: 768px) {
                height: 150px;
                margin: 25px auto;
             }
        }

        &-description {
            margin-top: 25px;
            font-size: 22.5px;

            @media (max-width: 576px) {
                font-size: 18px;
             }

            &-link {
                font-size: 22.5px;
            }
        }

        &:last-child {
            margin-bottom: 125px;
            @media (max-width: 576px) {
                margin-bottom: 25px;
             }
        }

        @media (max-width: 768px) {
            margin-top: 0px;
            text-align: center;
         }

    }
}
